<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>License Questions</title>
</head>
<body class="bg-gray-200">
    <header class="flex flex-row justify-center space-x-4 bg-gray-500 py-6 px-6 mt-8 mr-10 ml-10 rounded-lg shadow-lg border-solid border border-blue-700">
        <a href="#" class="block">
            <span class="sr-only">Do The Does</span>
            <img src="#" alt="Logo" title="theLogo">
        </a>
        <nav class="pr-5 pl-5">
            <a href="/" class="text-white hover:underline p-2 ml-5 mr-5">Home</a>
            <a href="/about" class="text-white hover:underline p-2 ml-5 mr-5">About</a>
            <a href="/pricing" class="text-white hover:underline p-2 ml-5 mr-5">Pricing</a>
            <a href="/modules" class="text-white hover:underline p-2 ml-5 mr-5">Modules</a>
        </nav>
        <nav class="">
            <a href="/login"><i class="far fa-user" class="text-white"></i></a>
        </nav>
    </header>
<section class="flex flex-row">
    <main class="w-3/4 p-10 mt-10 mr-10 ml-10 bg-white rounded-md flex justify-center flex-col shadow-lg border border-solid border-gray-200">
            <section class="bg-red-700 w-100 flex flex-col text-center ">
                {{!-- <h1 class="text-gray-400 font-bold">Welcome to XYZ Company!</h1>
                <p class="w-15 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, consequuntur fugit repudiandae explicabo, 
                dolor asperiores dolorem unde, 
                ad earum rerum itaque quisquam velit beatae ducimus nemo molestiae? Suscipit, dolorem neque?</p>
            </section>
            <section class="bg-green-600 w-100 mt-2">
                <h2>Hello there!</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum cumque, quo culpa nulla totam explicabo
                 praesentium quaerat fuga, neque, cum perspiciatis est architecto eaque modi quis libero id eligendi at.</p> --}}
                 {{{body}}}
        </section>
    </main>
    <section class="w-1/4 max-h-75 p-5 mt-10 mr-10 ml-0 bg-white rounded-md text-center flex justify-center flex-col shadow-lg border border-solid border-gray-200">
    <h3 class="underline">Latest Updates</h3>
<marquee>Welcome!</marquee>
    </section>
</section>
    <footer>
    </footer>
<script src="./main.js"></script>
</body>
</html>