<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>License Questions</title>
</head>
<body class="bg-gray-100">
    <header class="flex flex-row justify-center space-x-4 bg-gray-500 px-10 pt-4 pb-2 shadow-m border-solid border>
        <a href="#" class="block">
            <span class="sr-only">Do The Does</span>
            <img src="/images/logo.png" alt="Logo" title="theLogo" class="h-7 pl-0 mt-1">
        </a>
        <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 p-1">
            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <nav class="">
            <a href="/" class="text-gray-200 hover:text-white p-2 ml-2 mr-5">Home</a>
            <a href="/about" class="text-gray-200 hover:text-white p-2 ml-2 mr-5">About</a>
            <a href="/pricing" class="text-gray-200 hover:text-white p-2 ml-2 mr-5">Pricing</a>
            <a href="/modules" class="text-gray-200 hover:text-white p-2 ml-2 mr-5">Modules</a>
            <a href="/quiz" class="text-gray-200 hover:text-white p-2 ml-2 mr-5">Quizes</a>
            <a href="/login"><i class="fas fa-user text-gray-200 hover:text-white p-2 ml-1 mr-5 mt-1" ></i></a>
        </nav>
        {{!-- <nav class="">
            <a href="/login"><i class="far fa-user" class="text-white"></i></a>
        </nav> --}}
    </header>
<section class="flex flex-row">
    <main class="w-3/4 p-10 bg-white flex justify-center flex-col">
            <section class="w-100 flex flex-col text-center">
                {{!-- <h1 class="text-gray-400 font-bold">Welcome to XYZ Company!</h1>
                <p class="w-15 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, consequuntur fugit repudiandae explicabo, 
                dolor asperiores dolorem unde, 
                ad earum rerum itaque quisquam velit beatae ducimus nemo molestiae? Suscipit, dolorem neque?</p>
            </section>
            <section class="bg-green-600 w-100 mt-2">
                <h2>Hello there!</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum cumque, quo culpa nulla totam explicabo
                 praesentium quaerat fuga, neque, cum perspiciatis est architecto eaque modi quis libero id eligendi at.</p> --}}
                 {{{body}}}
        </section>
    </main>
    <section class="w-1/4 max-h-75 p-5 bg-white text-center flex justify-center flex-col border-1 border-gray-100">
    <h3 class="underline">Latest Updates</h3>
<marquee>Welcome!</marquee>
    </section>
</section>
    <footer>
    </footer>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>
</html>